Repository istudybucket/istudybucket-backend, pull requests merged in 2022-05, with the labels that each got.

#51 49 improve code quality auth related
  isb-library/src/main/java/com/elroykanye/istudybucket/api/controller/AuthController.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/request/LoginRequest.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/response/LoginResponse.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/response/LogoutResponse.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/AuthService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/AuthServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/RefreshTokenServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/UserServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/IstudybucketException.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/UserException.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/advice/ControllerAdvisor.java
Labels: enhancement, library

#53 transfer notes
  isb-library/notes/setup_jwt.md
Labels: enhancement, library

#54 50 improve code quality posts
  isb-library/src/main/java/com/elroykanye/istudybucket/api/controller/PostController.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/PostService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/AuthServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/PostServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/UserServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/AuthException.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/EntityException.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/IstudybucketException.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/UserException.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/advice/ControllerAdvisor.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/body/ExceptionBody.java
Labels: library

#59 58 improve code quality user related
  isb-library/src/main/java/com/elroykanye/istudybucket/api/controller/HelloController.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/controller/PostController.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/controller/UserController.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/PostDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/mapper/UserMapper.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/UserService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/PostServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/UserServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/config/global/SecurityConfig.java
  isb-library/src/main/java/com/elroykanye/istudybucket/config/jwt/JwtRequestFilter.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/body/ExceptionBody.java
  isb-library/src/main/resources/application.properties
Labels: enhancement, library

#61 60 improve code quality comment related
  isb-library/src/main/java/com/elroykanye/istudybucket/api/controller/CommentController.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/CommentService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/PostService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/UserService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/CommentServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/PostServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/UserServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/EntityException.java
  isb-library/src/main/java/com/elroykanye/istudybucket/excetion/advice/ControllerAdvisor.java
Labels: enhancement, library

#64 Update README on guidelines to checking the API endpoints
  README.md
Labels: documentation

#63 62 improve code quality vote related
  isb-library/src/main/java/com/elroykanye/istudybucket/api/controller/VoteController.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/VoteDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/mapper/UserMapper.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/mapper/VoteMapper.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/PostService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/VoteService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/PostServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/VoteServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/config/constant/DefaultEntity.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/User.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Vote.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/repository/VoteRepository.java
  isb-library/src/test/java/com/elroykanye/istudybucket/business/mapper/VoteMapperTest.java
Labels: enhancement, library

#66 65 make comments of posts be commentable
  isb-library/pom.xml
  isb-library/src/main/java/com/elroykanye/istudybucket/IstudybucketApplication.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/controller/CommentController.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/CommentDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/PostDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/mapper/CommentMapper.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/mapper/PostMapper.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/mapper/UserMapper.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/CommentService.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/AuthServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/CommentServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/config/constant/DefaultDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/config/constant/DefaultEntity.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Address.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Bucket.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Chat.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Comment.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Message.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Post.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/RefreshToken.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Trophy.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/User.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/VerificationToken.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Vote.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/enums/PostType.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/repository/CommentRepository.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/repository/PostRepository.java
  isb-library/src/main/resources/application.properties
  isb-library/src/test/java/com/elroykanye/istudybucket/IstudybucketApplicationTests.java
  isb-library/src/test/java/com/elroykanye/istudybucket/business/mapper/CommentMapperTest.java
  isb-library/src/test/java/com/elroykanye/istudybucket/business/mapper/PostMapperTest.java
  pom.xml
Labels: library

#68 67 change all instance types to localdatetime
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/BucketDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/PostDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/api/dto/UserDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/mapper/BucketMapper.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/RefreshTokenServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/business/service/impl/UserServiceImpl.java
  isb-library/src/main/java/com/elroykanye/istudybucket/config/constant/DefaultDto.java
  isb-library/src/main/java/com/elroykanye/istudybucket/config/constant/DefaultEntity.java
  isb-library/src/main/java/com/elroykanye/istudybucket/config/jwt/JwtRequestFilter.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Bucket.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Chat.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Post.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/RefreshToken.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Trophy.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/User.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/VerificationToken.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/relation/UserInBucket.java
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/relation/UserLinkUser.java
  isb-library/src/test/java/com/elroykanye/istudybucket/business/mapper/BucketMapperTest.java
  isb-library/src/test/java/com/elroykanye/istudybucket/business/mapper/PostMapperTest.java
Labels: library

#74 changed The post to save default now datetime incase post date was not given
  isb-library/src/main/java/com/elroykanye/istudybucket/data/entity/Post.java
Labels: library
